In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\Mhmd\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data = pd.read_excel('company_data.xlsx')

In [3]:
data

,Order ID,Order Date,Unit Cost,Price,Order Qty,Cost of Sales,Sales,Profit,Channel,Promotion Name,Product Name,Manufacturer,Product Sub Category,Product Category,Region,City,Country
0,7077,2017-09-13,76.094968,304.00,9,684.854710,2714.7200,2029.865290,Store,European Spring Promotion,Contoso SLR Camera M143 Grey,"Contoso, Ltd",Digital SLR Cameras,Cameras and camcorders,Europe,Moscow,Russia
1,117,2016-08-20,7.491753,12.99,4,29.967011,50.1414,20.174389,Store,European Spring Promotion,Contoso 512MB MP3 Player E51 Blue,"Contoso, Ltd",MP4&MP3,Audio,Europe,Moscow,Russia
2,7018,2016-07-08,10.122338,159.99,9,91.101039,1395.1128,1304.011761,Store,European Spring Promotion,Contoso DVD 9-Inch Player Portable M300 Silver,"Contoso, Ltd",Movie DVD,"Music, Movies and Audio Books",Europe,Moscow,Russia
3,140,2018-08-11,0.576153,25.69,18,10.370759,462.4200,452.049241,Store,North America Spring Promotion,NT Bluetooth Stereo Headphones E52 Pink,Northwind Traders,Bluetooth Headphones,Audio,North America,Bellevue,United States
4,491,2017-07-15,108.508777,304.00,9,976.578991,2614.4000,1637.821009,Online,Asian Spring Promotion,Contoso SLR Camera M143 Grey,"Contoso, Ltd",Digital SLR Cameras,Cameras and camcorders,Asia,Beijing,China
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,22348,2016-10-03,16.240455,25.00,12,194.885455,300.0000,105.114545,Store,Asian Summer Promotion,Contoso USB Cable M250 Blue,"Contoso, Ltd",Cameras & Camcorders Accessories,Cameras and camcorders,Asia,Osaka,Japan
14996,22349,2016-10-20,55.387212,999.00,10,553.872121,9990.0000,9436.127879,Reseller,No Discount,WWI Projector 720p DLP56 White,Wide World Importers,Projectors & Screens,Computers,Europe,Paris,France
14997,22350,2017-05-20,363.634986,588.00,13,4727.254816,7408.8000,2681.545184,Store,North America Holiday Promotion,"A. Datum SLR Camera 35"" X358 Gold",A. Datum Corporation,Digital SLR Cameras,Cameras and camcorders,North America,Ithaca,United States
14998,22351,2017-11-05,113.237461,279.00,12,1358.849536,3348.0000,1989.150464,Online,Asian Summer Promotion,Adventure Works LCD20W M240 Black,Adventure Works,Monitors,Computers,Asia,Beijing,China
14999,22352,2018-09-01,10.936943,15.90,20,218.738862,318.0000,99.261138,Store,No Discount,Contoso USB Wave Multi-media Keyboard E280 Black,"Contoso, Ltd",Computers Accessories,Computers,North America,Spring,United States

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Order ID              15000 non-null  int64
 1   Order Date            15000 non-null  datetime64[ns]
 2   Unit Cost             15000 non-null  float64
 3   Price                 15000 non-null  float64
 4   Order Qty             15000 non-null  int64
 5   Cost of Sales         15000 non-null  float64
 6   Sales                 15000 non-null  float64
 7   Profit                15000 non-null  float64
 8   Channel               15000 non-null  object
 9   Promotion Name        15000 non-null  object
 10  Product Name          15000 non-null  object
 11  Manufacturer          15000 non-null  object
 12  Product Sub Category  15000 non-null  object
 13  Product Category      15000 non-null  object
 14  Region                15000 non-null  object
 15  City                  15000 non-null  object
 16  Country               15000 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(2), object(9)
memory usage: 1.9+ MB

In [5]:
data['City'].unique()

array(['Moscow', 'Bellevue', 'Beijing', 'Yakima', 'Cheshire', 'Cle Elum',
       'Westminster', 'Pittsfield', 'Baytown', 'Berlin', 'Cambridge',
       'Ashgabat', 'Seattle', 'Bethesda', 'Leeds', 'Madison',
       'Plattsburgh', 'Paris', 'Sydney', 'Ramstein', 'Cheney', 'Glasgow',
       'Tehran', 'Roanoke', 'Calgary', 'Denver', 'Munich', 'Liverpool',
       'Hong Kong', 'Redmond', 'Renton', 'North Harford', 'Nice',
       'Bangkok', 'Port Washington', 'Holyoke', 'Edinburgh', 'Waterbury',
       'Bishkek', 'Lafayette', 'Busan', 'Buffalo', 'Canberra',
       'Wheat Ridge', 'Virginia Beach', 'Fall City', 'Islamabad',
       'Kolkata', 'Saint Petersburg', 'Shanghai', 'Mumbai', 'Green Bay',
       'New Delhi', 'Lewisville', 'Osaka', 'Dublin', 'Singapore',
       'Berthoud', 'Oswego', 'Landstuhl', 'Queens', 'Tokyo',
       'San Antonio', 'Yerevan', 'Athens', 'Koln', 'Bucharest',
       'Beaumont', 'Norfolk', 'Copenhagen', 'Greenville', 'Knotty Ash',
       'Key West', 'Lancashire', 'West Yorkshire', 'Milan', 'Rochester',
       'Nizhny Novgorod', 'Bamberg', 'Milwaukee', 'New York', 'Stockport',
       'Strasbourg', 'Alexandria', 'Poestenkill', 'Valletta', 'Albany',
       'Quincy', 'Fredericksburg', 'Houston', 'Austin',
       "Queen Anne's County", 'Bangor', 'Bayonne', 'New Haven', 'Trenton',
       'Bridgeport', 'Boston', 'Burlington', 'Georgetown', 'Cape May',
       'Charlottesville', 'Framingham', 'Clifton', 'Denton', 'Edgerton',
       'Elmira', 'Englewood', 'Manitowoc', 'Falmouth', 'Oregon',
       'Fort Worth', 'Grand Junction', 'Hackensack', 'Hartford',
       'Texas City', 'Ottawa', 'Newark', 'Howard', 'Veradale', 'Parker',
       'Jersey City', 'La Porte', 'Lakeland', 'Marshall', 'Miami',
       'Morristown', 'Provincetown', 'Sunnyside', 'Northampton',
       'Parkville', 'Russellville', 'Shreveport', 'Firenze', 'Stoughton',
       'Tallahassee', 'Lisbon', 'Lowell', 'Seoul', 'Haverhill', 'Naples',
       'Spokane', 'Brooklyn', 'Back River', 'Littleton', 'Ljubljana',
       'Damascus', 'Minden', 'Round Rock', 'Greeley', 'Appleton',
       'Cedar Park', 'Grand Prairie', 'Old Saybrook', 'Nantes',
       'Fort Atkinson', 'Ithaca', 'Plano', 'Sapporo', 'Sedalia',
       'Worcester', 'Snoqualmie', 'Berne', 'Winchester', 'Orange',
       'Longview', 'Castle Rock', 'Hoboken', 'Leominster', 'Loveland',
       'Sebring', 'Kennebunkport', 'Taipei', 'Montclair', 'Pasadena',
       'Lyon', 'Anchorage', 'Giebelstadt', 'North Bend', 'Urumqi',
       'Midland', 'Orlando', 'New London', 'Amsterdam', 'Toulouse',
       'Spring', 'Oshkosh', 'Warsaw', 'Baumholder', 'Dusseldorf',
       'South Portland', 'Somerville', 'Carlisle', 'Fond du Lac',
       'Humble', 'Toronto', 'Germantown', 'Kennewick', 'Montreal',
       'Granger', 'Racine', 'Bar Harbor', 'Nantucket', 'Lewiston',
       'London', 'Hofheim am Taunus', 'Wapato', 'Darien', 'Paterson',
       'Passaic', 'Thimphu', 'Thornton', 'Hingham', 'Bacliff', 'Lynn',
       'Arlington', 'Vineland', 'Sheboygan', 'Atlantic City', 'Torino',
       'Nagoya', 'Waukesha', 'Menasha', 'Madrid', 'Vancouver', 'York',
       'Ridgely', 'Baildon', 'New Brunswick', 'Cape Canaveral', 'Boulder',
       'New Bedford', 'Roma', 'Hillsboro', 'Milliken', 'Jacksonville',
       'Everett', 'Litchfield County', 'Charleston', 'Manchester',
       'New Castle', 'Richardson', 'Stockholm', 'Martinsville',
       'Guangzhou', 'Toppenish', 'East Orange', 'Aurora', 'Baltimore',
       'Fort Collins', 'Yokohama', 'Annapolis', 'Marseille',
       'Fort Lauderdale', 'Attleboro', 'East Troy', 'Orono', 'Dallas',
       'Tampa', 'Syracuse', 'Desoto', 'Kyoto', 'Venezia'], dtype=object)

In [6]:
data['City'].nunique()

263

In [7]:
data['Channel'].value_counts()

Store       9981
Online      2351
Reseller    1784
Catalog      884
Name: Channel, dtype: int64

In [8]:
data['Promotion Name'].value_counts()

No Discount                               5207
North America Spring Promotion            2079
North America Back-to-School Promotion    2040
North America Holiday Promotion           1415
European Holiday Promotion                1025
Asian Holiday Promotion                    750
Asian Spring Promotion                     745
European Spring Promotion                  721
European Back-to-Scholl Promotion          520
Asian Summer Promotion                     498
Name: Promotion Name, dtype: int64

In [9]:
data.duplicated().sum()

0

In [10]:
data.isna().sum()

Order ID                0
Order Date              0
Unit Cost               0
Price                   0
Order Qty               0
Cost of Sales           0
Sales                   0
Profit                  0
Channel                 0
Promotion Name          0
Product Name            0
Manufacturer            0
Product Sub Category    0
Product Category        0
Region                  0
City                    0
Country                 0
dtype: int64

In [11]:
data['Product Category'].value_counts()

Computers                        5359
Cameras and camcorders           3590
Cell phones                      2609
TV and Video                     1878
Music, Movies and Audio Books     832
Audio                             732
Name: Product Category, dtype: int64

In [12]:
data['Profit'].max()

55692.56952167946

In [15]:
data['Profit'].min()

-838.4267326426852

In [16]:
data['Manufacturer'].value_counts()

Contoso, Ltd            4891
Proseware, Inc.         1639
Fabrikam, Inc.          1605
Southridge Video        1540
A. Datum Corporation    1342
The Phone Company       1314
Adventure Works         1125
Wide World Importers     990
Litware, Inc.            348
Northwind Traders        206
Name: Manufacturer, dtype: int64